@model TST_Music_Instruments_Store.Models.Product

@{
    ViewBag.Title = "Details";
}

<div class="container" style="margin-top: 70px;">
    <div class="row">
        <div class="col-6">
            <img src="@Model.ImagePath" class="img img-fluid" />
        </div>
        <div class="col-6">
            <h1 class="text-center">@Model.NameOfProduct</h1>
            <hr />
            <h4><b>Price:</b> $@Model.Price</h4>
            <h4><b>Rating(1-5):</b> @Model.Rating</h4>
            <h4><b>Category:</b> @Model.ProductCategory</h4>
            <h4><b>Subcategory:</b> @Model.ProductSubCategory</h4>
            <h4><b>Manufacturer:</b> @Model.Manufacturer</h4>
            <h4><b>Color:</b> @Model.Color</h4>
            <h4><b>String count:</b> @Model.StringCount</h4>
            <h4><b>String size:</b> @Model.StringSize</h4>
            <hr />
            <a href="" class="btn btn-block btn-dark">Add to Cart</a>
            <br />
            @if (User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-dark" })
                @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }, new { @class = "btn btn-dark" })
                @Html.ActionLink("Delete", "Delete", new { id = Model.ProductId }, new { @class = "btn btn-dark" })
            }
        </div>
    </div>
</div>