@model IEnumerable<TST_Music_Instruments_Store.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameOfProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductSubCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StringCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StringSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Manufacturer)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NameOfProduct)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductCategory)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductSubCategory)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StringCount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StringSize)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        <img style="max-width:200px" src="@item.ImagePath" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Color)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Rating)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
        @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
    </td>
</tr>
}

</table>
