@model IEnumerable<TST_Music_Instruments_Store.Models.Product>

@{
    ViewBag.Title = "Index";
}

<div class="container" style="margin-bottom: 86.4px; margin-top: 54.4px">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="row">
        <div class="col-2">
            <div class="container pr-0 pl-0">
                <div class="row">
                    <div class="col text-center">
                        <h4>Filter</h4>
                    </div>
                </div>
                <hr style="margin: 5px 0 10px 0;" />
                <div class="row">
                    <div class="col">
                        <h4>Instrument</h4>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Instrument_1" id="InstrumentName1">
                            <label class="form-check-label" for="InstrumentName1">
                                Guitar
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Instrument_2" id="InstrumentName2">
                            <label class="form-check-label" for="InstrumentName2">
                                Violin
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Instrument_3" id="InstrumentName3">
                            <label class="form-check-label" for="InstrumentName3">
                                Viola
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Instrument_4" id="InstrumentName4">
                            <label class="form-check-label" for="InstrumentName4">
                                Cello
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Instrument_5" id="InstrumentName5">
                            <label class="form-check-label" for="InstrumentName5">
                                Bass
                            </label>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col">
                        <h5>Manufacturer</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Firma 1" id="ManufacturerName1">
                            <label class="form-check-label" for="ManufacturerName1">
                                Gibson
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Firma 1" id="ManufacturerName2">
                            <label class="form-check-label" for="ManufacturerName2">
                                Fender
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Firma 1" id="ManufacturerName3">
                            <label class="form-check-label" for="ManufacturerName3">
                                Shure
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Firma 1" id="ManufacturerName4">
                            <label class="form-check-label" for="ManufacturerName4">
                                Yamaha
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Firma 1" id="ManufacturerName5">
                            <label class="form-check-label" for="ManufacturerName5">
                                Sennheiser
                            </label>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn bg-dark text-white">Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="container">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-4 mb-3">
                            <div class="card border-dark">
                                <div class="card-header text-center bg-dark text-white">
                                    <a href="Products/Details/@item.ProductId" class="text-white">
                                        @item.NameOfProduct
                                    </a>
                                </div>
                                <div class="card-body text-center">
                                    <a href="Products/Details/@item.ProductId">
                                        <img src="@item.ImagePath" class="img img-thumbnail border-dark" style="width: 200px; height: 200px;" />
                                    </a>
                                    <hr class="bg-dark" />
                                    <p class="text-center mb-0">Price: @item.Price</p>
                                </div>
                                <div class="card-body text-center">
                                    <a href="/CartItems/AddToCart?ProductId=@item.ProductId"
                                       class="btn-outline-secondary border-right-0 border-bottom-0 border-left-0 btn">
                                        Add to Cart <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOfProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSubCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StringCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StringSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductSubCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StringCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StringSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <img style="max-width:200px" src="@item.ImagePath" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
        </td>
    </tr>
    }

    </table>*@
