@using TST_Music_Instruments_Store.Utilities

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TST Music Instrument Shop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg pb-0">
        <div class="container">
            <p class="text-white mb-0">+389 (0)2 55 14 777</p>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item @Html.IsActive("Home", "About")">
                    @Html.ActionLink("About us", "About", "Home", new { area = "" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item @Html.IsActive("Home", "Contact")">
                    @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-fixed-top navbar-dark bg-dark navbar-expand-lg pt-0">
        <div class="container">
            @*@Html.ActionLink("TST", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @Html.IsActive("Home", "Index")">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item @Html.IsActive("Products", "Index")">
                        @Html.ActionLink("Products", "Index", "Products", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item @Html.IsActive("CartItems", "Index")">
                        @Html.ActionLink("CartItems", "Index", "CartItems", new { area = "" }, new { @class = "nav-link" })
                    </li>
                </ul>
                <form class="form-inline mr-auto justify-content-center">
                    <input class="form-control" type="search" placeholder="Search products..." aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
                @Html.Partial("_LoginPartial", new { @class = "nav-link" })
            </div>
        </div>
    </nav>
    <div class="container mt-0">
        @RenderBody()
        <footer class="fixed-bottom py-3 text-center bg-dark text-white">
            <p class="pt-3">&copy; @DateTime.Now.Year - TST Music Instrument Shop</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
